body {
  font-family: Helvetica, sans-serif;
  background-color: ivory;
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  color: maroon;
}
.main {
  width: min(90vw, 550px);
  background-color: seashell;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header * {
  font-size: min(7vw, 40px);
  margin: 10px;
}
.board {
  background-color: blanchedalmond;
  width: min(80vw, 500px);
  height: min(80vw, 500px);
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
}
.space {
  width: 100%;
  height: 100%;
  background-color: seashell;
  display: flex;
  align-items: center;
}
.space:hover {
  background-color: bisque !important;
}
.space p {
  margin: 0px;
  width: 100%;
  text-align: center;
  font-size: min(13vw, 80px);
  font-weight: bold;
  user-select: none;
}
.score {
  width: 95%;
  padding: 10px;
  background-color: seashell;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.score p {
  margin: 5px;
  font-size: min(4vw, 20px);
  font-weight: bold;
}
.score div {
  display: flex;
}
.score button {
  border-style: none;
  background-color: bisque;
  width: min(15vw, 100px);
  font-weight: bold;
  font-size: min(2.5vw, 16px);
  color: maroon;
} 
.score button:hover {
  background-color: navajowhite;
}
#winner {
  width: 70px;
}
.playermodal {
  position: absolute;
  visibility: hidden;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.playerselect {
  margin-top: 265px;
  padding-bottom: 10px;
  width: 160px;
  height: 150px;
  background-color: seashell;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.playerselect p {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 12px;
}
.playerselect button {
  height: 50px;
  width: 140px;
  border-style: none;
  background-color: bisque;
  font-weight: bold;
  font-size: 16px;
  color: maroon;
}
.playerselect button:hover {
  background-color: navajowhite;
}
